<!DOCTYPE html>
<head>
<html xmlns="http://www.w3.or/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<meta charset="utf-8">
<title>Cadastro</title>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<style>
.container { 
    text-align: center; 
}
</style>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">SIRIUS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <span class="navbar-text">
      Cadastro de Usuários
    </span>
  </div>
</nav>
<div class="container">
<br>
<br>
<br>
<form action="cadastrar" onsubmit="return concluido();">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputName">Nome</label>
      <input name="name" type="text" class="form-control" placeholder="Nome" required>
    </div>
    <div class="form-group col-md-6">
      <label for="inputLastName">Sobrenome</label>
      <input name="last_name" type="text" class="form-control" id="inputPassword4" placeholder="Ultimo nome" required>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail">E-mail</label>
   <input type="text" class="form-control"  placeholder="E-mail" required id="email">
  </div>
  <div class="form-group">
    <label for="inputEmail">Confirmar seu e-mail</label>
    <input name="email" type="email" class="form-control" placeholder="Confirmar e-mail" required id="confemail" oninput="confirmEmail(this)">
  </div>
  <script language='javascript' type="text/javascript">
    function confirmEmail(input) {
        if (input.value != document.getElementById('email').value) {
            input.setCustomValidity('Os e-mails estão diferentes.');
        } else {
            // input is valid -- reset the error message
            input.setCustomValidity('');
        }
    }
</script>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputPass">Senha</label>
      <input type="password" class="form-control" placeholder="********" required id="password">
    </div>
    <div class="form-group col-md-4">
      <label for="inputPass">Confirmar senha</label>
       <input name= "password" type="password" class="form-control" placeholder="********" required id="password_confirm" oninput="check(this)">
         <script language='javascript' type="text/javascript">
    function check(input) {
        if (input.value != document.getElementById('password').value) {
            input.setCustomValidity('As senhas estão diferentes.');
        } else {
            // input is valid -- reset the error message
            input.setCustomValidity('');
        }
    }
</script>
    </div>
  			<br> <span th:text="${concluido}" id="concluido" style="display: none"/>
			<script>
				if (document.getElementById('concluido').textContent == "ok") {
					Swal.fire(
							  'Muito Bem!',
							  'Usuario Cadastrado!',
							  'success'
							)
				}
			</script>
    <div class="form-group col-md-4">
      <label for="inputUsername">Nome de usuário</label>
       <input name= "username" type="text" class="form-control" placeholder="User" required>
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck" required>
      <label class="form-check-label" for="gridCheck">
        Eu declaro que aceito os termos de uso.
      </label>
    </div>
  </div>
  <input class="btn btn-info" type="submit" id="cadastrar" value="Salvar" >

</form>
</div>

</body>
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright: Sirius API 

  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</html>