<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
	integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	crossorigin="anonymous"></script>
</head>
<body>
	<h1>Home Page</h1>
	<br>
	<a type="button" class="btn btn-primary" href="/cadastro">Cadastro</a><br><br>
	
	<a type="button" class="btn btn-primary" href="/">Index</a><br><br>
	
	<a type="button" class="btn btn-primary" href="/admin">Admin Page</a><br><br>
	
	<a type="button" class="btn btn-primary" href="/login">Login</a><br><br>
	
	<a type="button" class="btn btn-primary" href="/logout">Logout</a><br><br>
	
	<a type="button" class="btn btn-primary" href="http://localhost:8080/swagger-ui.html">Swagger</a><br><br>

</body>
</html>