<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
	integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	crossorigin="anonymous"></script>
</head>
<body>
	<h1>HOME</h1>
	<a type="button" class="btn btn-primary" href="/secure">Secure Page</a>
	<br>
	<a type="button" class="btn btn-primary" href="/admin">Admin Page</a>
	<br>
	<a type="button" class="btn btn-primary" href="/login">Login</a>
	<br>
	<a type="button" class="btn btn-primary" href="/logout">Logout</a>
	<br>
	<a type="button" class="btn btn-primary" href="http://localhost:8080/swagger-ui.html">Swagger</a>
	<br>
	<div class="container">
		<div class="page-header"></div>

		<div class="row">
			<form th:action="@{/api/root}" method="POST">
				<input type="file" webkitdirectory id="fileURL" name="root_path" /><br>
				<br>
				<button type="submit">Upload</button>
			</form>
		</div>

	</div>

</body>
</html>